<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I am a Senior Research Analyst & Pre-Doctoral Fellow at the Center for the Economics of Human Development and the Economics Department at the University of Chicago. I graduated with Honors from Master of Public Policy (MPP) program from the Harris School of Public Policy at UChicago. I focus on Education, Migration, and Social Mobility. I received a B.A. with Honors from Boston College in Psychology and Philosophy in 2019.  </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
